# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Environment variables
*.env
.env.*
.env
backend/.env

# Node / Vite
node_modules/
.vite/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/
backend/uploads/
